<header>
  <div class="logo-name">
    <img src="/images/git.svg" alt="git logo" />
    <img src="https://fontmeme.com/permalink/190719/adb295d9b28b5092fadf8337ee09c490.png" />
  </div>
  <img src="/images/badger.svg" alt="badger logo" />

  <!-- Credits -->
  <div class="hidden">
    <a href="https://fontmeme.com/github-font/"></a>
    <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
        target="_blank">CC 3.0 BY</a>
    </div>
  </div>
</header>