<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <main>
    <div class="charts">
      <canvas id="commitsChart"></canvas>
      <canvas id="locChart"></canvas>
    </div>
    <script>
      renderOverTimeGraph("<%= locals.counters.author_email %>")
    </script>
    <%- include('./partials/badges', {badges}) %>
  </main>
</body>

</html>