html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

table {
  margin: auto;
}


tr {
  letter-spacing: .25px;
  line-height: 1.2;
  text-align: left;
}

tr:hover {
  background: #f5faff;
}

.hidden {
  display: none;
}

.subtitle {
  font-style: oblique;
  font-weight: bold;
  letter-spacing: 1.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

header {
  background: #f5faff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  display: flex;
  height: 64px;
  justify-content: space-between;
  margin: auto;
  padding: 8px;
}

header .logo-name {
  display: flex;
}

main {
  box-sizing: border-box;
  height: calc(100% - 64px);
  margin: auto;
  max-width: 1440px;
  padding: 32px 0;
}

main .charts {
  display: flex;
  height: 360px;
  justify-content: space-evenly;
}

main .charts canvas {
  height: 100%;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  padding: 64px 0;
}

.badge {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 72px;
  padding: 18px;
  padding: 8px;
  position: relative;
}

.badge img {
  height: 64px;
  width: 64px;
}

.badge .overImage {
  position: absolute;
  top: 0;
}

.badge .title {
  padding-top: 4px;
}
